@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 110%;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  background-color: rgb(71, 71, 71);
  color: whitesmoke;
}

.choice-container {
  display: flex;
  margin-bottom: 0.8rem;
  width: 100%;
  border-radius: 4px;
  background: blue;
  font-size: 3rem;
  min-width: 80rem;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem rgba(6, 6, 75, 0.5);
  transform: scale(1.02);
  transform: transform 100ms;
}

.choice-prefix {
  padding: 2rem 2.5rem;
  color: whitesmoke;
}

.choice-text {
  padding: 2rem;
  width: 100%;
}

.correct {
  background: rgb(65, 185, 131);
}

.incorrect {
  background: red;
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-evenly;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .choice-container {
    min-width: 40rem;
  }
}