/* Basic HTML Elements */
.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.item {
  flex: 0 1 auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.button {
  justify-content: center;
  background-color: blue;
  font-weight: bold;
  font-size: 3rem;

}

